body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    display: flex;
    justify-content: space-between;
    width: 990px;
}
header{
    display: flex;
    justify-content: center;
    height: 120px;
}
.logo{
    display: flex;
    align-items: center;
    
}
.menu{
    display: flex;
    align-items: center;
}
nav ul, nav li{
    list-style-type: none;
    margin:0px;
    padding: 0px;
}
nav ul{
    display: flex;
}
nav a{
   text-decoration: none; 
   padding: 15px;
   color: #727272;
   display: block;
}
nav .active, nav a:hover{
    background-color: #39aee1;
    color: black;
}